# Root
node_modules
npm-debug.log
.DS_Store
.vscode

# Source build artifacts
src/**/node_modules
src/**/dist
src/**/.angular
src/**/bin
src/**/obj
src/**/.vs
src/**/npm-debug.log

# Git
.git
.gitignore
