# Root
node_modules
npm-debug.log
.DS_Store
.vscode

# Project build artifacts
HPA.SurveyFlow.*/**/node_modules
HPA.SurveyFlow.*/**/dist
HPA.SurveyFlow.*/**/.angular
HPA.SurveyFlow.*/**/bin
HPA.SurveyFlow.*/**/obj
HPA.SurveyFlow.*/**/.vs
HPA.SurveyFlow.*/**/npm-debug.log

# Git
.git
.gitignore
